.footer {
	color: rgb(224, 224, 224);

	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	position: absolute;
	bottom: 0;
	height: 250px;
	width: 100%;
	background-color: rgba(66, 66, 66, 0.5);
	padding-bottom: 25px;
}

.footer-section {
	height: 260px;
	width: 30%;
}


.footer-section a {
	color: rgb(224, 224, 224);
}

.footer-section#site-map ul {
	text-align: left;
}

.footer-section#site-map li {
	margin-left: 14%;
}

.footer-section#description p:not(.header) {
	text-align: left;
	padding-left: 10px;
}

.footer-section:not(#description)::before {
	content: '';
	display: block;
	position: absolute;
	top: 20%;
	height: 60%;
	border-left: 2px solid rgb(167, 167, 167);
}

.footer-section .header {
	margin-top: 30px;
	margin-bottom: 10%;
}

.contact-icon {
	width: 40px;
}

@media all and (max-width: 500px) {
	.footer {
		flex-direction: column;
	}

	.footer-section p:not(.header) {
		font-size: 0.8rem;
	}

	.footer-section {
		width: 100%;
		height: 70px;
	}

	.footer-section ul li {
		display: inline;
	}

	.footer-section .header {
		padding-bottom: 10px;
		margin: 0;
	}

	.footer-section:not(#description) {
		border-top: 2px solid rgb(167, 167, 167);
	}
}
